# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/supabase/migrations
# dependencies
/node_modules
/database-schema
/supabase/temp

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
supabase/migrations/20250727185618_create_auth_trigger.sql
supabase/migrations/20250724195215_fix_sync_wallet_trigger.sql
TELEGRAM_BOT_SETUP.md
